<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      
      <a class="navbar-brand fs-4"  href=""></a>
     
  
      <!-- Icons -->
      <ul class="navbar-nav d-flex flex-row me-1">
        <% if (typeof loggedIn !== "undefined") { %> 
          <a class="navbar-brand fs-4" href="#"></a>
        
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link text-white" href="/logout"><i>LOG OUT</i></a>
          </li>
        <% } else { %>

          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link text-white" href="/login"><i>LOG IN</i></a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>


