<%- include('./partials/adminpanel-layout') %>
<main style="margin-top: 58px;">
    <div class="container bg-light" style="width: 100%; height: 600px; margin-top: 160px; margin-left: 135px"  >


        <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px; margin-top: 20px; padding-top: 50px; padding-bottom: 50px; margin-right: 230px ">
            <div class="card-body p-4">
  
              <h3 class="text-center" >Welcome to </h3>
              <p class="text-center">ADMIN PORTAL</p>
        
            </div>
          </div>
