<%- include('./partials/lsheader') %>
<%- include('./partials/header') %>

<main >
    <div class="container bg-light" style="width: 100%; height: auto; margin-top: 120px;"  >
  
        <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px; margin-top: 20px; padding-top: 50px; padding-bottom: 50px; margin-right: 230px ">
            <div class="card-body p-4">
  
              <h3 class="text-center" >'Success', 'Order placed successfully!'</h3>
              <p class="text-center">Please check your Order History</p>
              <a href="/account" class="text-black"><p class="text-center"> ORDER HISTORY</p></a>
  
            </div>
          </div>




        </div>
         </main>


         <%- include('./partials/footer') %>